$mainButtonSize: 40px;
$minSmall: "(min-width: 768px)";
$maxmobile: "(max-width: 767px)";
$minumMedium: "(min-width:992px)";
$minlarge: "(min-width: 1200px)";
$redColor: #e2494c;
$greyColor: #9c9c9c;
$pColor: #888;
$float-left: left;
$float-right: right;
$text-align-right: right;
$text-align-left: left;
